body {
  background-color: #363026;
  z-index: 1; }

.background-overlay {
  background-image: url(../images/background-v2.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  pointer-events: none; }

.back-to-top {
  position: fixed;
  float: right;
  bottom: 12px;
  right: 24px;
  opacity: 0.72;
  z-index: 9999; }

.not-visible {
  visibility: hidden;
  bottom: -40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.visible {
  visibility: visible;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.fixed {
  position: fixed;
  display: block;
  top: 0;
  background-color: green; }

.container {
  padding: 0; }

.primary-button {
  background-color: rgba(16, 16, 16, 0.1);
  border: none;
  outline: none;
  font-size: 18px;
  font-size: 1.125rem;
  color: #f29c18;
  font-weight: 400;
  padding: 12px;
  width: 132px;
  outline: 1pt solid #101010;
  border: 1pt solid #f29c18;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.primary-button:hover {
  background-color: rgba(244, 157, 0, 0.1); }

.action-button {
  background-color: rgba(133, 24, 9, 0.8);
  color: #f29c18;
  border: 1pt solid #bf2000; }

.action-button:hover {
  background-color: rgba(133, 24, 9, 0.5); }

.standard-button {
  background-color: rgba(16, 16, 16, 0.1);
  border: none;
  outline: none;
  font-size: 14px;
  font-size: 0.875rem;
  color: #e6e6e6;
  font-weight: 400;
  padding: 6px;
  width: 112px;
  outline: 1pt solid #101010;
  border: 1pt solid #bfbfbf;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.standard-button:hover {
  background-color: rgba(133, 24, 9, 0.5); }

.home-animated-background {
  height: 526px;
  background-image: url("../images/hero-image-option.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .home-animated-background {
      height: 748px; } }

.community-background {
  height: 1200px;
  background-color: #1e1b15; }
  @media only screen and (min-width: 768px) {
    .community-background {
      height: 850px; } }

.news-background {
  height: 60px; }
  @media only screen and (min-width: 768px) {
    .news-background {
      height: 150px; } }

.forums-background {
  height: 1200px;
  background-color: #1e1b15; }
  @media only screen and (min-width: 768px) {
    .forums-background {
      height: 850px; } }

.store-background {
  height: 1200px;
  background-color: #1e1b15; }
  @media only screen and (min-width: 768px) {
    .store-background {
      height: 850px; } }

.download-background {
  height: 1200px;
  background-color: #1e1b15; }
  @media only screen and (min-width: 768px) {
    .download-background {
      height: 850px; } }

*, html, body, p, a, li, ul, div {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.25px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-size: 0.9375rem; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 42px;
  font-size: 2.625rem; }

h2 {
  font-size: 32px;
  font-size: 2rem; }

h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 16px;
  font-size: 1rem; }

.title-head {
  text-transform: capitalize;
  color: #ccb8a3;
  font-size: 36px;
  font-size: 2.25rem; }

.condensed {
  font-family: "Roboto Condensed", sans-serif; }

.heading {
  color: #f29c18; }

.light-text {
  color: #bfbfbf; }

.dark-text {
  color: #101010; }

.tan-text {
  color: #ccb8a3; }

.strong-text {
  font-weight: 500;
  color: #f29c18; }

.my-caption {
  color: #b3987d;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-size: 0.875rem; }

.text-primary {
  color: #ffa926; }

a {
  color: #ffa926;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

a:hover {
  color: #e68f0b; }

a:focus, a:active {
  text-decoration: none;
  color: #e68f0b; }

.header-home {
  display: none;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .header-home {
      display: block;
      border-bottom: 1px solid #ffd57e;
      background-color: #333;
      margin-bottom: 0;
      padding: 0;
      height: 34px;
      box-shadow: 1px 1px 1px #1e1b15;
      position: relative;
      z-index: 9997; } }
  .header-home #broadsword-logo {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .header-home #broadsword-logo:hover {
    filter: brightness(125%); }
  .header-home .hero-links {
    padding-top: 3px; }
    .header-home .hero-links a {
      color: #e6e6e6;
      line-height: 30px; }
      .header-home .hero-links a:first-child {
        border-right: 1px solid #505050; }
      .header-home .hero-links a:last-child {
        border-left: 1px solid #505050; }
    .header-home .hero-links a:hover {
      color: #ffd57e; }
    .header-home .hero-links li {
      display: inline;
      font-family: Mako, sans-serif;
      line-height: 2.4;
      font-size: 12px; }
      .header-home .hero-links li:first-child {
        margin-right: 20px; }
      .header-home .hero-links li:last-child {
        margin-left: 16px; }

#fixedHeader {
  display: none;
  box-shadow: none; }
  @media only screen and (min-width: 768px) {
    #fixedHeader {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999; } }
  #fixedHeader #broadsword-logo-two {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  #fixedHeader #broadsword-logo-two:hover {
    filter: brightness(125%); }

.fixed-nav {
  height: 34px;
  width: 100%;
  position: fixed;
  z-index: 9998;
  width: 100%;
  background-image: url("../images/distress.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  border-top: 1pt solid #3d372d;
  border-bottom: 1pt solid #3d372d;
  box-shadow: 1px 1px 1px #1e1b15;
  top: 34px; }
  .fixed-nav .small-header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px; }
    .fixed-nav .small-header-links li {
      display: inline;
      list-style: none;
      padding: 0 24px; }
    .fixed-nav .small-header-links a {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; }

.small-nav-shown {
  visibility: hidden; }
  @media only screen and (min-width: 768px) {
    .small-nav-shown {
      visibility: visible;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; } }

.small-nav-hidden {
  visibility: hidden;
  top: -35px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#megaMenu2 {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 65px; }

.home-hero {
  height: 36px;
  position: relative;
  margin-bottom: 0;
  z-index: 30;
  display: none;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .home-hero {
      display: block; } }
  .home-hero .search-bar {
    width: 38vw;
    display: none;
    position: absolute;
    right: 0;
    top: 68px;
    padding: 0; }
    .home-hero .search-bar input {
      margin: 0;
      box-shadow: 1px 1px 1px #262020;
      background-color: #bfbfbf;
      color: #101010;
      transform: translateY(-16px);
      height: 28px; }
    .home-hero .search-bar input:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 153, 153, 0.6);
      border: 1px solid #999; }
    .home-hero .search-bar i {
      color: #999;
      text-shadow: 1px 1px 0 #101010;
      transform: translate(-24px, 7px);
      top: 18px; }
    @media only screen and (min-width: 768px) {
      .home-hero .search-bar {
        display: block;
        width: 250px;
        height: 36px;
        top: 10px;
        right: 0; } }

.mobile-nav {
  height: 76px;
  box-shadow: 1px 1px 6px #1e1b15;
  background-color: #262020;
  z-index: 20;
  border: 0; }
  .mobile-nav .mobile-nav-button {
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin-top: 8px; }
  .mobile-nav .mobile-nav-button > i:hover {
    color: #F8F8F8; }
  .mobile-nav #megaMobileMenuTrig {
    transform: translateX(12px); }
  .mobile-nav #searchMobileMenuTrig {
    transform: translateX(-12px); }
  .mobile-nav img {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 2px;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    z-index: 20; }
  .mobile-nav i {
    color: #f29c18;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  @media only screen and (min-width: 768px) {
    .mobile-nav {
      display: none; } }

.mobile-mega-menu {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  box-shadow: 1px 1px 6px #1e1b15;
  background-color: #262020;
  padding: 15px;
  z-index: 19; }
  .mobile-mega-menu ul {
    list-style: none;
    margin-bottom: 16px; }
  .mobile-mega-menu li {
    font-size: 16px;
    font-size: 1rem;
    color: #ffa926;
    padding-left: 24px;
    margin-top: 4px; }
  .mobile-mega-menu .menu-head {
    font-size: 16px;
    font-size: 1rem;
    color: #F8F8F8;
    padding-left: 8px;
    font-weight: 400;
    margin-top: 16px; }
  .mobile-mega-menu a {
    text-decoration: none; }
  .mobile-mega-menu a > li:hover {
    text-decoration: none;
    color: #e68f0b; }

.mobile-search-bar input {
  width: 95%;
  margin: 0;
  height: 36px;
  box-shadow: 1px 1px 1px #262020;
  background-color: #bfbfbf;
  color: #101010;
  float: right; }
.mobile-search-bar input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 143, 11, 0.6);
  border: 1px solid #f29c18; }
.mobile-search-bar i {
  color: #f29c18;
  float: left;
  margin-top: 10px; }

.nav-container {
  display: none;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .nav-container {
      position: relative;
      display: block; } }
  .nav-container .navigation-bar {
    background-color: #262020;
    box-shadow: 1px 1px 6px #1e1b15;
    width: 100%;
    height: 60px;
    margin-top: 16px;
    background-image: url("../images/distress.png");
    background-repeat: repeat-x; }
    .nav-container .navigation-bar .nav-bar-button {
      height: 60px;
      width: 12%;
      border-left: 0.5px solid #3d372d;
      border-right: 0.5px solid #1e1b15;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/distress.png");
      background-repeat: repeat-x; }
      .nav-container .navigation-bar .nav-bar-button p {
        color: #F8F8F8;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 300;
        letter-spacing: 1px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        @media only screen and (min-width: 768px) {
          .nav-container .navigation-bar .nav-bar-button p {
            font-size: 14px;
            font-size: 0.875rem; } }
        @media only screen and (min-width: 992px) {
          .nav-container .navigation-bar .nav-bar-button p {
            font-size: 16px;
            font-size: 1rem; } }
        @media only screen and (min-width: 1200px) {
          .nav-container .navigation-bar .nav-bar-button p {
            font-size: 18px;
            font-size: 1.125rem; } }
    .nav-container .navigation-bar .nav-bar-button:hover > p {
      color: #f29c18; }
    .nav-container .navigation-bar .nav-bar-button:hover > i {
      color: #f29c18; }
    .nav-container .navigation-bar #pageSelected > p {
      color: #999; }
    .nav-container .navigation-bar #nav-game-button {
      border-left: none; }
    .nav-container .navigation-bar .nav-home-button {
      width: 20%;
      border: none; }
      .nav-container .navigation-bar .nav-home-button i {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        @media only screen and (min-width: 768px) {
          .nav-container .navigation-bar .nav-home-button i {
            transform: scale(1.3, 1.3); } }
        @media only screen and (min-width: 992px) {
          .nav-container .navigation-bar .nav-home-button i {
            transform: scale(1.5, 1.5); } }
    .nav-container .navigation-bar .download-button {
      color: #F8F8F8;
      border-left: 0.5px solid #363026; }
      .nav-container .navigation-bar .download-button p {
        color: #e68f0b;
        line-height: 1.1;
        text-shadow: 0.5px 0.5px 1px #1e1b15; }
    .nav-container .navigation-bar .download-button:hover p {
      text-shadow: 0 0 10px #ffa926; }
    .nav-container .navigation-bar .logo-box {
      width: 200px;
      position: absolute;
      left: -16px;
      top: -4px; }
      @media only screen and (min-width: 768px) {
        .nav-container .navigation-bar .logo-box {
          width: 210px;
          left: -16px;
          top: -6px; } }
      @media only screen and (min-width: 992px) {
        .nav-container .navigation-bar .logo-box {
          width: 272px;
          left: -16px;
          top: -14px; } }
      @media only screen and (min-width: 1200px) {
        .nav-container .navigation-bar .logo-box {
          width: 320px;
          left: -16px;
          top: -20px; } }
      .nav-container .navigation-bar .logo-box img {
        width: 100%;
        position: relative;
        z-index: 12; }
  .nav-container .navigation-bar-fixed {
    position: fixed;
    top: 0;
    width: 100%; }
  .nav-container .mega-menu {
    display: none;
    left: 0;
    top: 100;
    position: absolute;
    width: calc(100% - 30px);
    margin-left: 15px;
    box-shadow: 1px 1px 6px #1e1b15;
    background-color: #262020;
    padding: 0 15px;
    z-index: 4; }
    .nav-container .mega-menu ul {
      display: inline-block;
      list-style: none;
      margin-bottom: 48px;
      border-left: 0.5px solid #3d372d;
      margin-top: 24px; }
    .nav-container .mega-menu li {
      font-size: 16px;
      font-size: 1rem;
      color: #ffa926;
      margin-top: 8px;
      padding-left: 6px; }
    .nav-container .mega-menu .menu-head {
      font-size: 18px;
      font-size: 1.125rem;
      color: #F8F8F8;
      font-weight: 400;
      margin-bottom: 18px;
      border: 0; }
    .nav-container .mega-menu a {
      text-decoration: none; }
    .nav-container .mega-menu a > li:hover {
      text-decoration: none;
      color: #e68f0b; }
  .nav-container .carot-rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .nav-container .menu-selected {
    background-color: #3d372d; }

.promo-home {
  margin-top: 0;
  position: relative;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 0 #101010; }
  @media only screen and (min-width: 768px) {
    .promo-home {
      height: 600px;
      margin-top: 36px; } }
  .promo-home .promo-content {
    height: 90%; }
    .promo-home .promo-content h1, .promo-home .promo-content p {
      text-shadow: 2px 2px 6px #101010; }
    .promo-home .promo-content p {
      margin: 24px 0;
      max-width: 75%;
      color: #e6e6e6;
      font-size: 18px;
      font-size: 1.125rem; }
    .promo-home .promo-content li {
      display: inline; }
    .promo-home .promo-content button {
      background-color: rgba(16, 16, 16, 0.1);
      border: none;
      outline: none;
      font-size: 18px;
      font-size: 1.125rem;
      color: #f29c18;
      font-weight: 400;
      padding: 12px;
      width: 232px;
      outline: 1pt solid #101010;
      border: 1pt solid #f29c18;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .promo-home .promo-content button:hover {
      background-color: rgba(244, 157, 0, 0.1); }
    .promo-home .promo-content .action-button {
      background-color: rgba(133, 24, 9, 0.8);
      color: #f29c18;
      border: 1pt solid #bf2000; }
    .promo-home .promo-content .action-button:hover {
      background-color: rgba(133, 24, 9, 0.5); }
  .promo-home .promo-hero {
    color: #F8F8F8;
    padding-left: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (min-width: 768px) {
      .promo-home .promo-hero {
        padding-left: 3vw; } }
  .promo-home .social-feed {
    color: #F8F8F8;
    padding-left: 3vw;
    height: 100%;
    background-color: rgba(54, 48, 38, 0.4);
    outline: 1pt solid #101010;
    border: 1pt solid #bfa78f;
    display: none; }
  .promo-home .ph {
    height: 36px; }

.player-callout-home {
  background-color: #1e1b15;
  height: 700px;
  padding: 0;
  box-shadow: 1px 1px 1px #262020;
  background-image: url("../images/alb-bg.png");
  background-position: center right;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 768px) {
    .player-callout-home {
      height: 500px;
      padding: 0;
      background-image: none; } }
  .player-callout-home .player-callout-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (min-width: 768px) {
      .player-callout-home .player-callout-box {
        display: block;
        background-image: url("../images/hq-character-poses.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: auto; } }
    .player-callout-home .player-callout-box .player-button-box {
      height: 275px;
      width: 275px;
      margin: 24px auto;
      float: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (min-width: 768px) {
        .player-callout-home .player-callout-box .player-button-box {
          height: 250px;
          width: 250px;
          margin: 122.5px 45px 0 45px; } }
      .player-callout-home .player-callout-box .player-button-box img {
        width: 100%;
        height: auto;
        box-shadow: 1px 1px 1px #1e1b15;
        border: 1px solid #b3987d;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
      .player-callout-home .player-callout-box .player-button-box img:hover {
        filter: brightness(110%); }

.updates-grid-home {
  height: auto; }
  @media only screen and (min-width: 768px) {
    .updates-grid-home {
      padding: 0;
      margin: 0; } }
  .updates-grid-home .updates-grid-content {
    background-color: #1e1b15;
    border: 1pt solid #b3987d;
    padding: 72px 24px 36px 24px;
    box-shadow: 1px 1px 4px #101010; }
    .updates-grid-home .updates-grid-content .updates-grid-box {
      margin-bottom: 36px; }
      .updates-grid-home .updates-grid-content .updates-grid-box img {
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
        max-width: 72px;
        float: left;
        margin-right: 12px; }
        @media only screen and (min-width: 768px) {
          .updates-grid-home .updates-grid-content .updates-grid-box img {
            width: 90%;
            height: auto;
            float: none;
            max-height: 132px;
            max-width: none;
            transform: none;
            outline: 1pt solid #b3987d;
            -webkit-transition: 0.1s;
            -moz-transition: 0.1s;
            -ms-transition: 0.1s;
            -o-transition: 0.1s;
            transition: 0.1s; } }
      .updates-grid-home .updates-grid-content .updates-grid-box img:hover {
        filter: brightness(80%); }
      .updates-grid-home .updates-grid-content .updates-grid-box h4 {
        margin: 18px 0 8px 0;
        color: #bfbfbf;
        text-decoration: none;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }
      .updates-grid-home .updates-grid-content .updates-grid-box h4:hover {
        color: #e6e6e6;
        text-decoration: underline; }
      .updates-grid-home .updates-grid-content .updates-grid-box p {
        max-height: 120px;
        overflow: hidden;
        width: 91%;
        color: #bfbfbf;
        margin-top: 26px; }
        @media only screen and (min-width: 768px) {
          .updates-grid-home .updates-grid-content .updates-grid-box p {
            margin-top: 0; } }
      .updates-grid-home .updates-grid-content .updates-grid-box .read-more {
        margin-right: 20px;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s; }

.herald-articles-preview-home {
  padding: 0;
  background-color: #262020;
  box-shadow: 1px 1px 4px #101010;
  background-image: url("../images/moloch-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.herald-home {
  padding: 64px 12px 32px 12px; }
  .herald-home h2 {
    color: #F8F8F8;
    border-bottom: 1pt solid #bfa78f;
    padding-bottom: 24px;
    margin-bottom: 72px; }
  .herald-home article {
    margin: 72px 0; }
    .herald-home article img {
      max-height: 36px;
      margin: 0 8px 0 0;
      outline: 1pt solid #b3987d;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      @media only screen and (min-width: 768px) {
        .herald-home article img {
          max-height: 120px;
          margin: 0 12px 0 0; } }
    .herald-home article img:hover {
      filter: brightness(80%); }
    .herald-home article h4 {
      color: #f29c18; }
    .herald-home article h4:hover {
      color: #e68f0b; }
    .herald-home article .herald-caption {
      color: #b3987d;
      padding: 4px 0; }
    .herald-home article .herald-paragraph {
      color: #bfbfbf;
      max-height: 82px;
      overflow: hidden; }
    .herald-home article:after {
      content: "";
      display: table;
      clear: both; }

.home-footer {
  background-color: rgba(30, 27, 21, 0.7);
  margin: 100px 0 0 0; }
  .home-footer .social-box {
    width: 100%;
    height: 72px;
    margin-top: 100px; }
    @media only screen and (min-width: 768px) {
      .home-footer .social-box {
        margin-top: 148px; } }
    .home-footer .social-box li {
      list-style: none;
      display: inline;
      height: 48px;
      text-align: center;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .home-footer .social-box li i {
        color: #bfbfbf;
        margin: 0 5px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        @media only screen and (min-width: 768px) {
          .home-footer .social-box li i {
            margin: 0 10px; } }
      .home-footer .social-box li i:hover {
        color: #e68f0b; }
      .home-footer .social-box li img {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .home-footer .social-box li .broadsword-logo {
        height: auto;
        width: 96px;
        margin-right: 8px; }
        @media only screen and (min-width: 768px) {
          .home-footer .social-box li .broadsword-logo {
            margin-right: 4px;
            width: 180px; } }
      .home-footer .social-box li .ea-logo {
        filter: brightness(80%);
        margin: 0 5px; }
      .home-footer .social-box li .broadsword-logo:hover {
        filter: brightness(120%); }
      .home-footer .social-box li .ea-logo:hover {
        filter: brightness(95%); }
    .home-footer .social-box .flex-list {
      display: flex;
      align-items: center;
      justify-content: center; }
  .home-footer .sub-footer-home {
    width: 100%; }
    .home-footer .sub-footer-home ul {
      color: #ccb8a3;
      text-align: center;
      margin-top: 78px; }
      @media only screen and (min-width: 768px) {
        .home-footer .sub-footer-home ul {
          margin-top: 124px; } }
      .home-footer .sub-footer-home ul li {
        display: inline;
        text-align: center;
        list-style: none;
        padding: 0 12px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
  .home-footer p {
    color: #ccb8a3;
    margin-top: 12px;
    margin-bottom: 48px; }
  .home-footer .sub-footer-link {
    color: #bfa78f; }
  .home-footer .fa-wikipedia-w {
    transform: scale(0.9, 0.9) translateX(-5px); }

.community-forum-section {
  box-shadow: 1pt 1pt 1pt #1e1b15; }
  .community-forum-section h2 {
    margin: 24px; }
    @media only screen and (min-width: 768px) {
      .community-forum-section h2 {
        margin: 0 48px; } }

.community-forum-row {
  margin-bottom: 8px;
  border-bottom: 1px solid #3d372d;
  padding-bottom: 24px; }
  .community-forum-row h4 {
    margin-bottom: 12px;
    margin-left: 36px; }
    @media only screen and (max-width: 767px) {
      .community-forum-row h4 {
        margin-left: 12px; } }
  .community-forum-row h5 {
    font-size: 12px;
    font-size: 0.75rem;
    color: #999; }

.community-forum-button {
  margin: 8px; }

.community-forum-replies-box {
  word-wrap: break-word;
  min-height: 50px;
  margin: 0;
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }
  @media only screen and (max-width: 767px) {
    .community-forum-replies-box {
      margin-left: 0;
      border-left: none; } }

.community-forum-views-box {
  border-left: 1px solid #3d372d;
  border-right: 1px solid #3d372d;
  margin-left: 8px;
  word-wrap: break-word;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }
  @media only screen and (max-width: 767px) {
    .community-forum-views-box {
      margin-left: 0;
      border-right: none; } }

.community-forum-time-box {
  margin-right: -8px; }
  .community-forum-time-box p {
    text-align: right; }
  @media only screen and (max-width: 767px) {
    .community-forum-time-box {
      margin-top: 6px;
      padding-top: 6px; } }

.community-forum-details-box {
  margin: 0; }

.community-forum-caption {
  color: #b3987d;
  margin: 0;
  font-size: 14px;
  font-size: 0.875rem; }

.community-social-fluid {
  background-color: #101010;
  border-top: 1px solid #1e1b15;
  box-shadow: 1px 1px 1px #1e1b15; }
  .community-social-fluid .community-social {
    margin: 60px auto; }
    .community-social-fluid .community-social ul {
      margin: 24px 0; }
      .community-social-fluid .community-social ul a {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .community-social-fluid .community-social ul a:hover {
        text-decoration: none; }
      .community-social-fluid .community-social ul li {
        margin: 8px 0;
        list-style: none;
        padding-left: 2px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        font-size: 18px;
        font-size: 1.125rem;
        color: #999; }
      .community-social-fluid .community-social ul li:hover {
        text-decoration: none;
        color: #F8F8F8; }
    .community-social-fluid .community-social .community-social-image-box {
      width: 100%;
      min-height: 180px;
      background-image: url(../images/hero-image-option.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 1px 1px 1px #1e1b15; }

.community-header {
  background-image: url("../images/hero-image-option-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 1px #1e1b15; }
  .community-header .community-header-container {
    margin: 52px auto 32px auto; }
    .community-header .community-header-container img {
      max-width: 100%;
      max-height: 300px; }
    .community-header .community-header-container p {
      margin-top: 12px; }
    .community-header .community-header-container h2 {
      margin-top: 72px;
      text-shadow: 1px 1px 1px #101010; }
      @media only screen and (min-width: 768px) {
        .community-header .community-header-container h2 {
          margin-top: 24px; } }
    .community-header .community-header-container .fa-desktop {
      transform: translate(-5px, 1px); }
    .community-header .community-header-container .fa-exclamation-triangle {
      transform: translate(-5px, -2px); }
  .community-header .community-header-left-box {
    padding-left: 0; }
    .community-header .community-header-left-box a {
      color: #bfbfbf;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .community-header .community-header-left-box a:hover {
      color: #e68f0b;
      text-decoration: none; }
    .community-header .community-header-left-box span {
      color: #bfbfbf; }
    .community-header .community-header-left-box iframe {
      width: 100%;
      max-width: 500px;
      min-height: 300px;
      border: 1px solid #bfbfbf;
      background-color: #101010; }
      @media only screen and (min-width: 768px) {
        .community-header .community-header-left-box iframe {
          width: 500px;
          max-width: 100%; } }
    .community-header .community-header-left-box .fa {
      color: #b31e00; }
  .community-header .community-header-right-box {
    padding: 0; }
    .community-header .community-header-right-box .event-box {
      width: 100%;
      border-left: 1px solid #bfa78f;
      border-right: 1px solid #bfa78f;
      border-top: 1px solid #bfa78f;
      height: 64px;
      padding: 0; }
      .community-header .community-header-right-box .event-box .event-box-left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        padding: 0;
        background-color: rgba(133, 24, 9, 0.8);
        border-right: 1pt solid #bfa78f; }
      .community-header .community-header-right-box .event-box .event-box-right {
        padding: 0;
        background-color: #101010;
        max-height: 88px;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100%;
        overflow: hidden; }
        .community-header .community-header-right-box .event-box .event-box-right p {
          margin: 0;
          padding: 6px;
          height: 100%;
          font-size: 14px;
          font-size: 0.875rem; }
    .community-header .community-header-right-box .event-box:first-of-type {
      margin-top: 42px; }
    .community-header .community-header-right-box .event-box:last-child {
      margin-bottom: 48px;
      border-bottom: 1px solid #ccb8a3; }
  .community-header .community-header-left-box p {
    padding: 0 0 12px 0; }
  .community-header .community-header .community-header-left-box a p {
    color: #f29c18; }
  .community-header .community-button {
    margin-bottom: 48px; }
    @media only screen and (min-width: 768px) {
      .community-header .community-button {
        margin-bottom: 24px; } }

.community-forum-section a:hover {
  text-decoration: none; }

.community-forum-section h2 {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .community-forum-section h2:hover {
    color: #f29c18; }

.community-forum-row a h4:hover {
  text-decoration: underline;
  color: #e68f0b; }

.news-main {
  padding: 0;
  margin: 16px auto; }

.herald-header {
  padding: 0 12px; }

.herald-header-title-box {
  margin: 12px 0; }
  .herald-header-title-box h1 {
    font-size: 24px;
    font-size: 1.5rem; }
    @media only screen and (min-width: 768px) {
      .herald-header-title-box h1 {
        font-size: 36px;
        font-size: 2.25rem; } }

.herald-header-filter-box {
  margin-top: 6px; }
  .herald-header-filter-box .dropdown {
    width: 172px;
    float: right; }
  .herald-header-filter-box .dropdown-toggle {
    color: #bfbfbf;
    border: 1px solid #999;
    margin: 0 12px 0 0;
    padding: 6px; }
  .herald-header-filter-box .dropdown-toggle:hover {
    text-decoration: none; }
  .herald-header-filter-box .dropdown-menu {
    background-color: #bfbfbf; }
    .herald-header-filter-box .dropdown-menu .divider {
      background-color: #999; }

.news-section {
  padding-top: 60px;
  margin-bottom: 60px; }
  .news-section p {
    color: #F8F8F8; }
  .news-section .news-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.herald-entry .herald-heading {
  font-family: "Montserrat", sans-serif; }
.herald-entry .media {
  border-top: 1px solid #3d372d;
  padding: 8px;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .herald-entry .media {
      padding: 24px; } }
.herald-entry .media:last-of-type {
  border-bottom: none; }
.herald-entry .herald-entry-img {
  width: 64px;
  margin-right: 6px;
  margin-top: 4px;
  border: 1px solid #101010;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  @media only screen and (min-width: 768px) {
    .herald-entry .herald-entry-img {
      width: 168px;
      margin-right: 12px; } }
.herald-entry .herald-entry-img:hover {
  filter: brightness(110%); }
.herald-entry .herald-body-text {
  color: #bfbfbf;
  margin-top: 6px; }

.forums-main {
  height: 1124px;
  padding: 60px 0;
  box-shadow: 1px 1px 1px #101010; }
  @media only screen and (min-width: 768px) {
    .forums-main {
      height: 738px; } }
  .forums-main p {
    color: #F8F8F8; }
  .forums-main .forums-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.forums-section {
  height: 1124px;
  padding-top: 60px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 768px) {
    .forums-section {
      height: 738px; } }
  .forums-section p {
    color: #F8F8F8; }
  .forums-section .forums-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.download-main {
  height: 1124px;
  padding: 60px 0;
  box-shadow: 1px 1px 1px #101010; }
  @media only screen and (min-width: 768px) {
    .download-main {
      height: 738px; } }
  .download-main p {
    color: #F8F8F8; }
  .download-main .download-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.download-section {
  height: 1124px;
  padding-top: 60px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 768px) {
    .download-section {
      height: 738px; } }
  .download-section p {
    color: #F8F8F8; }
  .download-section .download-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.store-search-bar i {
  color: #f29c18;
  margin-right: 6px; }
.store-search-bar .store-search-input {
  width: 190px;
  padding: 4px;
  background-color: #bfbfbf;
  border: none;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.store-button {
  margin: 12px 0 12px 24px; }

.store-grid-box {
  position: relative; }

.store-grid-label {
  width: 100%;
  height: 50px;
  position: absolute;
  padding: 6px;
  left: 0;
  bottom: 0;
  background-color: #101010; }
  .store-grid-label p {
    font-size: 12px;
    font-size: 0.75rem; }

.store-grid-price {
  width: 56px;
  height: 28px;
  position: absolute;
  padding: 6px;
  right: 0;
  top: 0;
  background-color: #101010; }

.store-container {
  border: 1pt solid #ccb8a3;
  background-color: #101010;
  background-image: url("../images/vintage-concrete.png");
  box-shadow: 1px 1px 1px #101010;
  margin: 36px auto;
  padding: 48px 14px; }
  @media only screen and (min-width: 768px) {
    .store-container {
      padding: 48px; } }
  .store-container h2 {
    margin: 0 24px 36px 0; }
    @media only screen and (min-width: 768px) {
      .store-container h2 {
        margin: 0 0 12px 0; } }

.store-section {
  height: 1124px;
  padding-top: 60px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 768px) {
    .store-section {
      height: 738px; } }
  .store-section p {
    color: #F8F8F8; }
  .store-section .store-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.general-section {
  height: 1124px;
  padding-top: 60px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 768px) {
    .general-section {
      height: 738px; } }
  .general-section p {
    color: #F8F8F8; }
  .general-section .general-container {
    height: 100%;
    border: 1pt solid #e68f0b;
    background-color: #101010;
    box-shadow: 1px 1px 1px #101010; }

.general-background {
  background-color: #1e1b15;
  background-image: url(../images/stone-texture.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  border-bottom: 1pt solid #3d372d;
  box-shadow: 1pt 1pt 1pt #1e1b15;
  min-height: 76px; }
  @media only screen and (min-width: 768px) {
    .general-background {
      min-height: 160px; } }

.general-caption {
  color: #b3987d;
  font-family: "Roboto", sans-serif;
  margin: 4px 0;
  font-size: 14px;
  font-size: 0.875rem; }

.general-container-fluid {
  margin: 36px auto 0 auto;
  padding: 48px 14px; }

.dark-bg {
  background-image: url("../images/vintage-concrete.png");
  background-color: #101010; }

.general-container {
  border: 1pt solid #ccb8a3;
  background-image: url("../images/vintage-concrete.png");
  background-color: #101010;
  box-shadow: 1px 1px 1px #101010;
  margin: 36px auto;
  padding: 48px; }
  .general-container h1 {
    margin: 0 0 12px 0; }

.general-header {
  background-image: url("../images/hero-image-option-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 1px #1e1b15; }
  .general-header .general-header-container {
    margin: 36px auto 0 auto; }
    .general-header .general-header-container img {
      max-width: 100%;
      max-height: 300px; }
    .general-header .general-header-container p {
      max-width: 250px;
      margin-top: 12px; }
  .general-header .general-header-left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .general-header .general-header-right-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%; }

.general-tall-image {
  max-height: 250px;
  width: auto;
  margin: 12px; }

.general-wide-image {
  max-width: 250px;
  height: auto;
  margin: 12px; }

.general-full-image-box {
  width: 90%;
  margin: 12px auto; }

.general-full-image {
  width: 100%;
  height: auto; }

.general-break {
  width: 90%;
  margin: 64px auto;
  border-color: #3d372d; }

.general-image-grid-box {
  width: 100%;
  margin: 32px auto;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.general-grid-item {
  width: 200px;
  height: 200px;
  background-color: #1e1b15;
  margin: 6px;
  overflow: hidden; }
  .general-grid-item img {
    min-width: 200px;
    min-height: 200px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .general-grid-item img:hover {
    filter: brightness(120%); }

.general-list-group {
  margin-left: 24px; }

.general-spacer {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 32px;
  visibility: hidden; }
  @media only screen and (min-width: 768px) {
    .general-spacer {
      height: 48px; } }

.general-half-spacer {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 24px;
  visibility: hidden; }
  @media only screen and (min-width: 768px) {
    .general-half-spacer {
      height: 32px; } }

.general-quarter-spacer {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 14px;
  visibility: hidden; }
  @media only screen and (min-width: 768px) {
    .general-quarter-spacer {
      height: 18px; } }

.general-banner {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 64px; }

.gold-banner {
  background-color: #f29c18; }

.image-banner {
  background-image: url(../images/stone-texture.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  border-top: 1pt solid #3d372d;
  border-bottom: 1pt solid #3d372d; }

.general-footer {
  margin: 0;
  background-color: #1e1b15; }

.support-spacer {
  height: 32px; }

.map-image {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.realm-heading-img {
  max-width: 100%;
  height: auto; }

.thumb-left {
  padding-right: 12px; }

.thumb-right {
  padding-left: 12px; }

.classes-races img {
  max-width: 100%; }

.classes-box {
  margin: 0;
  padding: 0; }

.class-list {
  margin-top: 16px;
  padding: 0; }
  .class-list p {
    margin: 0 0 8px 0; }
    .class-list p a {
      font-size: 18px;
      font-size: 1.125rem; }

.race-list p {
  width: 200px;
  margin: 8px 0;
  padding: 0;
  float: left;
  text-align: center; }
  .race-list p a {
    font-size: 18px;
    font-size: 1.125rem; }

.races-box {
  padding: 0; }

.cr-no-margin {
  padding: 0;
  margin: 0; }

.cr-list-top {
  margin-bottom: 24px; }

/*# sourceMappingURL=app.css.map */
