.community-groups-section
  margin: 80px 0
  .community-groups-box
    height: 210px
    .groups-col
      border: 1pt solid $red
      padding: 0
      height: 100%
      p
        color: $offWhite
      img
        width: 100%
