.community-header
  background-image: url('../images/hero-image-option-blue.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  box-shadow: 1px 1px 1px $darkerBrown
  .community-header-container
    margin: 52px auto 32px auto
    img
      max-width: 100%
      max-height: 300px
    p
      margin-top: 12px
    h2
      margin-top: 72px
      text-shadow: 1px 1px 1px $offBlack
      @include bp-small
        margin-top: 24px
    .fa-desktop
      transform: translate(-5px,1px)
    .fa-exclamation-triangle
      transform: translate(-5px,-2px)

  .community-header-left-box
    padding-left: 0
    a
      color: $grey
      @include transition(.2s)
    a:hover
      color: $darkGold
      text-decoration: none
    span
      color: $grey
    iframe
      width: 100%
      max-width: 500px
      min-height: 300px
      border: 1px solid $grey
      background-color: $offBlack
      @include bp-small
        width: 500px
        max-width: 100%
    .fa
      color: $darkRed

  .community-header-right-box
    padding: 0
    .event-box
      width: 100%
      border-left: 1px solid $tan
      border-right: 1px solid $tan
      border-top: 1px solid $tan
      height: 64px
      padding: 0
      .event-box-left
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        flex-direction: column
        height: 100%
        padding: 0
        background-color: rgba(133, 24, 9, 0.8)
        border-right: 1pt solid $tan
      .event-box-right
        padding: 0
        background-color: $offBlack
        max-height: 88px
        display: flex
        justify-content: left
        align-items: center
        height: 100%
        overflow: hidden
        p
          margin: 0
          padding: 6px
          height: 100%
          @include font-size(14px)

    .event-box:first-of-type
      margin-top: 42px

    .event-box:last-child
      margin-bottom: 48px
      border-bottom: 1px solid $lightTan


  .community-header-left-box p
    padding: 0 0 12px 0

  .community-header .community-header-left-box a p
    color: $gold

  .community-button
    margin-bottom: 48px
    @include bp-small
      margin-bottom: 24px

.community-forum-section a
  &:hover
    text-decoration: none

.community-forum-section h2
  @include transition(.2s)
  &:hover
    color: $gold

.community-forum-row a h4
  &:hover
    text-decoration: underline
    color: $darkGold
