.fixed-nav
  height: 34px
  width: 100%
  position: fixed
  z-index: 9998
  width: 100%
  background-image: url("../images/distress.png")
  background-repeat: repeat-x
  background-position: center
  background-size: cover
  border-top: 1pt solid $lightBrown
  border-bottom: 1pt solid $lightBrown
  box-shadow: 1px 1px 1px $darkerBrown
  top: 34px

  .small-header-links
    display: flex
    justify-content: center
    align-items: center
    margin-top: 6px
    li
      display: inline
      list-style: none
      padding: 0 24px
    a
      text-align: center
      display: flex
      align-items: center
      justify-content: center

.small-nav-shown
  visibility: hidden
  @include bp-small
    visibility: visible
    @include transition(.5s)
.small-nav-hidden
  visibility: hidden
  top: -35px
  @include transition(.5s)

#megaMenu2
  position: fixed
  top: 0
  left: 0
  margin-top: 65px
