.player-callout-home
  background-color: rgba(30,27,21,0.7)
  height: 700px
  padding: 0
  box-shadow: 1px 1px 1px $darkBrown
  @include bp-small
    height: 600px
    padding: 60px 0 40px 0
    box-shadow: none
  .player-callout-box
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    background-image: url("../images/character-poses-cropped.png")
    background-position: bottom left
    background-repeat: no-repeat
    @include bp-small
      display: block
      background-image: url("../images/character-poses.png")
      background-position: center
      background-repeat: no-repeat
      background-size: contain
    .player-button-box
      height: 275px
      width: 275px
      margin: 24px auto
      float: none
      display: flex
      align-items: center
      justify-content: center
      // background-image: url("../images/distressRed.png")
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      @include bp-small
        height: 250px
        width: 250px
        margin: 122.5px 45px 0 45px
      .primary-button
        background-color: rgba(39,33,33,0.8)
      .primary-button:hover
        background-color: rgba(39,33,33,0.5)
