.player-callout-home
  background-color: rgba(30,27,21,0.7)
  height: 700px
  padding: 0
  box-shadow: 1px 1px 1px $darkBrown
  @include bp-small
    height: 600px
    padding: 60px 0 40px 0
    box-shadow: none
  .player-callout-box
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    background-image: url("../images/character-poses-cropped.png")
    background-position: bottom left
    background-repeat: no-repeat
    @include bp-small
      display: block
      background-image: url("../images/character-poses-2.png")
      background-position: center
      background-repeat: no-repeat
      background-size: contain
    .player-button-box
      height: 275px
      width: 275px
      margin: 24px auto
      float: none
      display: flex
      align-items: center
      justify-content: center
      background-image: url("../images/players-backdrop.png")
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      @include bp-small
        height: 250px
        width: 250px
        margin: 122.5px 45px 0 45px
      .primary-button
        background-color: rgba(39,33,33,0.8)
        background-image: url("../images/distressRed.png")
        background-position: center
        background-repeat: repeat-x
        background-size: cover
        border: 1pt solid $darkBlue
        color: $offWhite
        line-height: 1.1
        text-shadow: 0.5px 0.5px 1px $darkerBrown
        width: 160px
        height: 72px
        @include transition(0.2s)
      .primary-button:hover
        text-shadow: 0 0 10px $darkGold
        border: 1pt solid $lightBlue
  .player-callout-box-alt
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    border: 1pt solid yellow
    @include bp-small
      display: block
    .player-button-box
      border: 1pt solid blue
      height: 275px
      width: 275px
      float: none
      display: flex
      align-items: center
      justify-content: center
      background-image: url("../images/players-backdrop.png")
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      @include bp-small
        height: 100%
        width: 50%
        img
          width: 100%
          height: 80%
        h3
          color: $gold
          height: 20%
