.store-search-bar
  i
    color: $gold
    margin-right: 6px
  .store-search-input
    width: 190px
    padding: 4px
    background-color: $grey
    border: none
    outline: none
    @include border-radius(3px)

.store-button
  margin: 12px 0 12px 24px

.store-grid-box
  position: relative

.store-grid-label
  width: 100%
  height: 50px
  position: absolute
  padding: 6px
  left: 0
  bottom: 0
  background-color: $offBlack
  p
    @include font-size(12px)

.store-grid-price
  width: 56px
  height: 28px
  position: absolute
  padding: 6px
  right: 0
  top: 0
  background-color: $offBlack

.store-container
  border: 1pt solid $lightTan
  background-color: $offBlack
  background-image: url('../images/vintage-concrete.png')
  box-shadow: 1px 1px 1px $offBlack
  margin: 36px auto
  padding: 48px 14px
  @include bp-small
    padding: 48px
  h2
    margin: 0 24px 36px 0
    @include bp-small
      margin: 0 0 12px 0
