.store-main
  height: 1124px
  padding: 60px 0
  box-shadow: 1px 1px 1px $offBlack
  @include bp-small
    height: 738px
  p
    color: $offWhite
  .store-container
    height: 100%
    border: 1pt solid $darkGold
    background-color: $offBlack
    box-shadow: 1px 1px 1px $offBlack
